{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "description": "Simple CLI to print a message",
  "keywords": [
    "cli",
    "rust"
  ],
  "repository": {
    "type": "git",
    "url": "git+https://github.com/vincentdchn/rust-npm.git"
  },
  "bugs": {
    "url": "https://github.com/vincentdchn/rust-npm/issues"
  },
  "homepage": "https://github.com/vincentdchn/rust-npm#readme",
  "license": "MIT",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"]
}