{
  "name": "${NODE_PKG}",
  "version": "${NODE_VERSION}",
  "description": "Votre description",
  "keywords": [
    "cli"
  ],
   "repository": {
        "type": "git",
        "url": "git+https://github.com/vincentdchn/rust-npm"
    },
    "bugs": {
        "url": "https://github.com/vincentdchn/rust-npm"
    },
    "homepage": "https://github.com/vincentdchn/rust-npm#readme",
  "license": "MIT",
  "os": ["${NODE_OS}"],
  "cpu": ["${NODE_ARCH}"]
}
